*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    background: url("/assets/images/universe.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
}

.header{
    text-align: center;
    color: rgb(228, 208, 26);
    letter-spacing: 3px;
    font-family: 'Anton', sans-serif;
    font-size: 60px;
    margin-top: 20px;
}

.spaceship{
    position: absolute;
    width: 100px;
    height: 100px;
    left: 50%;
    bottom: 0;
    background: url("/assets/images/starship-fighter.png");
    background-size: contain;
}

.alien-ufo{
    position: absolute;
    width: 80px;
    height: 80px;
    left: 50%;
    top: 0;
    background: url("/assets/images/alien-spaceship.png");
    background-size: contain;   
}

.canvas{
    padding: 0;
    display: block;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: url("/assets/images/space-bg.jpg");
    border: 1px solid #fff;
    background-size: cover;
    width: 700px;
    height: 600px;
  
}

