*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: url("/assets/images/universe.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
}

.header{
    text-align: center;
    color: rgb(228, 208, 26);
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-top: 20px;
}

.starship{
    position: absolute;
    z-index: 1;
    width: 40px;
    height: 40px;
    left: 50%;
    bottom: 0;
    background: url("/assets/images/starship-fighter.png") no-repeat;
    background-size: contain;
}

canvas{
    padding: 0;
    display: block;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: url("/assets/images/space-bg.jpg") bottom;
    border: 2px solid #fff;
    background-size: cover;
    width: 60%;
  
}

