*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;
    background: url("/assets/images/universe.jpg") no-repeat;
    background-size: cover;
    height: 100vh;
}

.header{
    text-align: center;
    padding: 20px;
    color: rgb(228, 208, 26);
    letter-spacing: 3px;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    margin-top: 20px auto;
}

.header span{
    text-align: center;
    color: rgb(240, 37, 23);
    letter-spacing: 3px;
    font-family: 'Anton', sans-serif;
    font-size: 50px;
    margin-top: 20px auto;
}

.logo img{
    width: 70px;
    position: absolute;
}

.spaceship{
    position: absolute;
    z-index: 30;
    width: 100px;
    height: 100px;
    left: 50%;
    bottom: 0;
    background: url("/assets/images/spaceship-img2.png");
    background-size: contain;
}

.left-bullets{
    position: absolute;
    width: 30px;
    height: 30px;
    left: 350px;
    bottom: 50px;
    background: url("/assets/images/bullet.png") no-repeat;
    background-size: contain;
}

.right-bullets{
    position: absolute;
    width: 30px;
    height: 30px;
    right: 240px;
    bottom: 50px;
    background: url("/assets/images/bullet.png") no-repeat;
    background-size: contain;
}


.aliens{
    position: absolute;
    width: 90px;
    height: 90px;
    left: 50%;
    top: 0;
    background: url("/assets/images/alien-spaceship.png");
    background-size: contain;   
}

.gameWindow{
    padding: 0;
    display: block;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    background: url("/assets/images/space-bg.jpg");
    border: 2px solid rgb(214, 213, 216);
    background-size: cover;
    width: 700px;
    height: 600px;
  
}

.left img{
    position: absolute;
    z-index: 30;
    top: 200px;
    left: 60px;
    width: 100px;
    height: 100px;
}

.right img{
    position: absolute;
    margin-top: 50px;
    width: 250px;
    height: 250px;
}

.float-right img{
    position: absolute;
    float: right;
    top: 200px;
    right: 200px;
    width: 100px;
    height: 100px;
}

.score-container{
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 30;
    letter-spacing: 2px;
    font-family: 'Anton', sans-serif;
    color: #fff;
    font-size: 30px;
    font-weight: 500;
}


